*.a
/bin
binary/
build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
/.cproject
/Debug
.deps/
.dirstamp
java/dcpu/generated/
*.la
libraries/protobuf-2.4.1/java/target/
libraries/protobuf/compile
libraries/protobuf/config.*
libraries/protobuf/configure
libraries/protobuf/depcomp
libraries/protobuf/gtest/
libraries/protobuf/install-sh
libraries/protobuf/libtool
libraries/protobuf/ltmain.sh
libraries/protobuf/missing
libraries/protobuf/src/protobuf-stamp/
libraries/protobuf/src/protobuf_target-stamp/
libraries/protobuf/src/protoc
libraries/protobuf/src/unittest_proto_middleman
libraries/protobuf/stamp-h1
libraries/protobuf/test-driver
.libs/
*.lo
*.m4
Makefile
Makefile.in
*.o
*.pb.cc
*.pb.h
*.pc
/Protoc
source/dcpu
source/generated/
*.swp
tests/alltests
tmp/
xcshareddata/
xcuserdata/
